<!-- views/pages/about.ejs -->
<%- include('../partials/header') %>

<!-- About Section -->
<section class="principles-section">
    <h2>Our Guiding Principles</h2>
    <h3>Empowering Energy Development in Nigeria</h3>
    
    <div class="principles-container">
        <!-- Vision Card -->
        <div class="principle-card">
            <div class="principle-image">
                <img src="/images/our_vision.png">
            </div>
            <h4>Vision</h4>
            <p>To be the leading provider of innovative engineering solutions that propel the oil and gas sector in Nigeria towards sustainability and excellence.</p>
        </div>
        
        <!-- Mission Card -->
        <div class="principle-card">
            <div class="principle-image">
                <img src="/images/our_mission.png">
            </div>
            <h4>Mission</h4>
            <p>Our mission is to deliver top-tier engineering and energy services while fostering local talent and adhering to global standards.</p>
        </div>
        
        <!-- Values Card -->
        <div class="principle-card">
            <div class="principle-image">
                <img src="/images/our_value.png">
            </div>
            <h4>Values</h4>
            <p>We value integrity, collaboration, and excellence in all our endeavors, committed to making a positive impact in our communities.</p>
        </div>
    </div>
</section>

<!-- Advantage Section -->
<section class="advantage-section">
    <h2>Our Unique Advantage</h2>
    <h3>Local Expertise, Global Standards</h3>
    
    <div class="advantage-container">
        <div class="advantage-image">
            <img src="https://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_clip,w_960,h_720,f_auto,q_auto/unsplashcom/photo-1677441070685-236685203a7f" alt="Nigerian landscape">
        </div>
        
        <div class="advantage-content">
            <h4>Local Content Advantage</h4>
            <p>We pride ourselves on our deep understanding of the local market dynamics and regulatory environment. This allows us to tailor our solutions to meet the specific needs of our clients while ensuring compliance and sustainability.</p>
        </div>
    </div>
    <div class="advantage-container">
        <div class="advantage-image">
            <img src="https://images.pexels.com/photos/11150272/pexels-photo-11150272.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Nigerian landscape">
        </div>
        
        <div class="advantage-content">
            <h4>Agile Approach</h4>
            <p>Our cross-functional teams are designed to be agile and responsive. We adapt quickly to changes in project requirements, ensuring that we deliver optimal solutions without compromising on quality or timelines.</p>
        </div>
    </div>
    <div class="advantage-container">
        <div class="advantage-image">
            <img src="https://user-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_clip,w_960,h_720,f_auto,q_auto/unsplashcom/photo-1656919637422-de9d98983d4c" alt="Nigerian landscape">
        </div>
        
        <div class="advantage-content">
            <h4>Collaborative Culture</h4>
            <p>We foster a collaborative culture that encourages innovation and knowledge sharing. Our diverse teams bring together a wealth of experience and expertise, enabling us to tackle complex challenges effectively.</p>
        </div>
    </div>
</section>

<!-- Leadership Section -->
<section class="leadership-section">
    <h2>Meet Our Leaders</h2>
    <h3>Driving Excellence in Energy Solutions</h3>
    
    <div class="leaders-container">
        <!-- CEO Card -->
        <div class="leader-card">
            <div class="leader-image">
                <img src="/images/ceo.jpg" alt="CEO Office">
            </div>
            <h4>MD/CEO - ENGR. ANTHONY ODOGBO</h4>
            <p>ENGR. ANTHONY ODOGBO leads our strategic vision with over 20 years of experience in the energy sector, ensuring our company remains at the forefront of innovation and sustainability.</p>
            <a href="/profile1" class="read-profile-btn">Read Profile</a>
        </div>
        
        <!-- COO Card -->
        <div class="leader-card">
            <div class="leader-image">
                <img src="/images/coo.jpg" alt="COO Office">
            </div>
            <h4>COO - ENGR OSAGIE EHIOSU WILFRED</h4>
            <p>ENGR OSAGIE EHIOSU WILFRED oversees our operational excellence, leveraging extensive industry knowledge to enhance our service delivery and client satisfaction.</p>
            <a href="/profile1" class="read-profile-btn">Read Profile</a>
        </div>
        
        <!-- CTO Card -->
        <div class="leader-card">
            <div class="leader-image">
                <img src="/images/edo.jpg" alt="CTO Office">
            </div>
            <h4>E.D.O - ENGR KINGSLEY IWEKOGU</h4>
            <p>ENGR KINGSLEY IWEKOGU, the Executive Director Officer drives our technological advancements, fostering a culture of innovation that empowers our teams to develop cutting-edge solutions for our clients.</p>
            <a href="/profile1" class="read-profile-btn">Read Profile</a>
        </div>
    </div>
</section>


<%- include('../partials/footer') %>